<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVR3YkSEm0qh1hdXPZ0yuHFb7qdufKipA</string>
	<key>GCM_SENDER_ID</key>
	<string>915316809815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.info6350.Frontend</string>
	<key>PROJECT_ID</key>
	<string>events-app-76cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>events-app-76cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915316809815:ios:1635741657461fb8998312</string>
</dict>
</plist>